Django
djangorestframework
django-cors-headers
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
pypdf
python-docx
python-magic-bin
tiktoken
requests
sentence-transformers
python-dotenv
groq
gunicorn
psycopg2-binary
dj-database-url
boto3
django-storages
pinecone-client
langchain-pinecone

